:root {
    --background: ##fff;
    --background-secondary: #222831;
    --background-tertiary: #393E46;
    --text: #000;
    --secondary-text: #EEEEEE;
    --tertiary-text: #b9b9b9;
    --primary-action: #0866ff;
    --secondary-action: hsl(240 3.7% 15.9%);
    --link: #0866ff;
}

.dark {
    --background: #222831;
    --background-secondary: #393E46;
    --background-tertiary: #393E46;
    --text: #EEEEEE;
    --secondary-text: #EEEEEE;
    --tertiary-text: #b9b9b9;
    --primary-action: #0866ff;
    --secondary-action: hsl(240 3.7% 15.9%);
    --link: #0866ff;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Google Sans", roboto, arial, helvetica;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    color: var(--secondary-text);
    background-color: hsl(217.2 32.6% 17.5%);
    height: 7.5vh;
}

header div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header img {
    height: 3rem;
}

#nav_menu {
    display: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: var(--background);
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-text);
}

nav a:hover {
    background-color: var(--background-tertiary);
}

nav {
    display: flex;
    gap: 1rem;
}

main {
    margin-top: 2rem;
    min-height: calc(
        100vh - 7.5vh - (0.75rem * 2) - 2rem - 3rem - 3rem
    );
}

main section {
    width: 80%;
    margin: auto;
}

.login,
.register {
    display: flex;
    flex-direction: column;
}

.catalog fieldset {
    width: 17%;
}

.catalog {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}

main section fieldset {
    border-radius: 0.5rem;
    padding: 1rem;
}

main section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 1rem;
}

table th,
table td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

table th:first-of-type {
    width: 80%;
}

td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: hsl(217.2 32.6% 17.5%);
    color: var(--tertiary-text);
    text-align: center;
    margin-top: 3rem;
    height: 3rem;
    width: 100%;
}

footer a {
    color: inherit;
    opacity: inherit;
}

@media screen and (max-width: 1200px) {
    header h1 {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    header nav {
        display: none;
    }

    #nav_menu {
        display: block;
        cursor: pointer;
    }
}

.catalog_product_img {
    width: 8rem;
    margin-bottom: 1rem;
}

.product_price {
    font-weight: 900;
    margin: 0.15rem 0;
}

.add_to_cart {
    background-color: var(--primary-action);
    color: var(--secondary-text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.catalog_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--background-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
}